.contato{

    margin-bottom: 70px;
    margin-top: 100px;

    form{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        align-items: flex-start;

        input{
            background-color: transparent;
            border: solid 1px $light;
            padding: 10px 15px;
            font-size: 16px;
            text-transform: uppercase;
            font-family: $font;
            width: 100%;
        }
    }

    input, textarea{
        background-color: transparent;
        border: solid 1px $light;
        padding: 10px 15px;
        font-size: 16px;
        text-transform: uppercase;
        font-family: $font;
        width: 100%;
        box-sizing: border-box;
        
        
    }

    textarea{
        height: 120px;
    }

    .btn{
        margin-bottom: 50px;
    }

}