.header{
    //background-color: rgba(0, 0, 0, 0.5);//como deixar transparente
    width: 100%;
    position: absolute; //posição em relação ao elemento pai, nesse caso o body
    padding: 30px 0;
    z-index: 10000; //Pra ultrapassar os z-index 9999 do slider

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu{ 
    
        a{
            
            font-size: 22px;
            font-weight: 700;
            color: white;
            text-decoration: none;
            margin-left: 70px;

            &:hover{ //& significa que vc ta editando este proprio item, tipo um "this"
                color: $primary;
            }

        }

    }

    .btn-menu{
        display: none;
    }
}


.header-fixed{
    position: fixed;
    z-index: 10000; //Pra ultrapassar os z-index 9999 do slider
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    transition: 0.5s;
    padding: 5px 0;

    .logo{
        img{
        height: 70px;
        }
        
    }
}


///////// RESPONSIVO \\\\\\\\\\

@media (max-width:991px){

    .header{

        .menu{    
            
            width: 80%;
            height: 100vh;
            margin: 0;
            box-sizing: border-box;
            position: fixed;
            z-index: 2;
            top: 110px;
            left: 0;
            background-color: $primaryDark;
            color: white;

            transform: translateX(-100%) !important;
            transition: 0.3s;
            

            a{
                display: block;
                margin: 0;
                padding: 30px 15px;
                border-bottom: 2px solid white;
                font-size: 15px;

                &:active{ //Para mostrar, atraves da cor black, o que foi selecionado no mobile
                    background-color: $dark;
                }
            }

        }

        .menu-open{
            
            transform: translateX(0) !important;
            transition: 0.3s;
        }

        .btn-menu{
            display: flex;
            flex-direction: column;

            .barras{
                width: 40px;
                height: 3px;
                margin-bottom: 4px;
                background-color: white;
            }

        }
      
 


 
        .logo{
            img{
            height: 70px;
            }
            
        }

    }

}

