
@mixin button($tipo) {
    display: inline-block;
    padding: 13px 50px 9px 50px;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-family: $font;
    font-size: 18px;
    border: none;    

    @if($tipo == 'btn-primary'){
        background-color: $primary; 
        
    }@else if($tipo == 'btn-form'){
        background-color: transparent;
        border: 1px solid $light;
        
    }@else if($tipo == 'btn-wpp'){
        background-color: #015c01;
    }

}
