.presentation{

    margin-top: 70px;
    margin-bottom: 70px;

    img{
        border-radius: 5px;
    }

}


@media (max-width:720px) {

    h2{
        font-size: 40px;
    }

    p{
        font-size: 17px;
    }

}